@model Project_Management_System.Areas.Admin.Models.tbl_ManageProjects

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit Project</h2>

@using (Html.BeginForm("Edit", "ProjectManage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.projectid)

        <div class="form-group">
            @Html.LabelFor(model => model.projectname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.projectname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.projectname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.startdate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.startdate, new { htmlAttributes = new {  @class = "startdate" ,@id="startdate", @name="startdate", @type="date", @value="" } })
                @Html.ValidationMessageFor(model => model.startdate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.enddate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.enddate, new { htmlAttributes = new {  @class = "startdate" ,@id="enddate", @name="enddate", @type="date", @value=""  } })
                @Html.ValidationMessageFor(model => model.enddate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.documentupload, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.documentupload, "", new { @type = "file", @multiple = "multiple" })
                @Html.ValidationMessageFor(model => model.documentupload, "", new { @class = "text-danger" })
                @*<input type="file" id="documentupload" name="documentupload" multiple="multiple" formmethod="post" />*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.estimatedhours, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.estimatedhours, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.estimatedhours, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.actualhours, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.actualhours, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.actualhours, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.projectstatus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.projectstatus, new List<SelectListItem> {
                                  new SelectListItem { Value = "Not Started" , Text = "Not Started" },
                                  new SelectListItem { Value = "In Progess" , Text = "In Progess" },
                                  new SelectListItem { Value = "Completed" , Text = "Completed" },
                                  new SelectListItem { Value = "On Hold" , Text = "On Hold" },
                                  new SelectListItem { Value = "Cancelled" , Text = "Cancelled" }},
                             new { @class = "form-control" })                
                @Html.ValidationMessageFor(model => model.projectstatus, "", new { @class = "text-danger" })
                        </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.activitystatus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    <input checked="checked" id="activitystatus" name="activitystatus" type="checkbox" value="true" />
                    @Html.ValidationMessageFor(model => model.activitystatus, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

       

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
